.page-title {
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-right: 1rem;

  @include media-breakpoint-down(md) {
    margin-bottom: .5rem;
  }
}

.coop {
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-top: .5rem;
    order: 1
  }
}

.menu-enabled.checkbox {
  label {
    display: none;
  }
}

.update-recommended,
.update-security {
  td:last-child {
    .wrap-td {
      text-align: right;
    }
  }
}

table.sticky-header {
  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open & {
    top:139px !important;
  }

  .toolbar-fixed & {
    top: 99px !important;
  }

  top: 60px !important;
}
