.admin-list {
  margin-bottom: 0;

  .admin-item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .admin-item__title {
    font-size: 1.2rem;
  }

  .admin-item__description {
    margin-bottom: 0;
  }
}

.module-list {
  .module-list--item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.module-list--item {
  background-color: $gray-100;
  border-radius: $border-radius;
  padding: .25rem;

  .mli-header {
    display: flex;
    align-items: center;
  }

  .h5 {
    margin-bottom: 0;

    small{
      font-size: 50%;
    }
  }

  .wrap-links {
    margin-left: auto;

    .btn {
      font-size: 1.231rem;
    }

    a {
      min-width: 37px;
      padding: 0.375rem 0.75rem;
      background-position: center;
      font-size: 0;
    }
  }
}

ul {
  &.tabs {
    list-style: none;
  }
}
