
.system-status-report-counters {
  margin-bottom: $spacer/2;

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    .col:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer;
  }
}

.system-status-report-counters__item {
  border-bottom: 3px solid transparent;

  .card-body {
    display: flex;
    align-items: center;
    position: relative;
  }

  .link-full {
    opacity: .3;
    padding: 0.5rem;
    text-align: right;
    transition: opacity .3s linear
  }

  .ssrc-content {
    margin-bottom: 0;
  }

  .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 1rem;
  }

  &:hover {
    .link-full {
      opacity: 1;
    }
  }
}

.ssrc-item--errors {
  border-color: rgba($danger, .2);

  .icon {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><rect x='0' y='0' width='24' height='24'/><circle fill='#{$danger}' opacity='0.3' cx='12' cy='12' r='10'/><path d='M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z' fill='#{$danger}'/></g></svg>"));
  }
}

.ssrc-item--warnings {
  border-color: rgba($warning, .2);

  .icon {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1' ><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><rect x='0' y='0' width='24' height='24'/><circle fill='#{$warning}' opacity='0.3' cx='12' cy='12' r='10'/><rect fill='#{$warning}' x='11' y='7' width='2' height='8' rx='1'/><rect fill='#{$warning}' x='11' y='16' width='2' height='2' rx='1'/></g></svg>"));
  }
}

.ssrc-item--checked {
  border-color: rgba($success, .2);

  .icon {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><rect x='0' y='0' width='24' height='24'/><path d='M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z' fill='#{$success}'/><path d='M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z' fill='#{$success}' opacity='0.3'/></g></svg>"));
  }
}

.system-status-general-info {
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;

  .system-status-general-info__item {
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .cron-description__run-cron a {
    margin-top: .5rem;
    @extend .btn;
    @extend .btn-outline-primary;
  }

  .cron-description__run-cron {
    display: block;
  }
}

.system-status-report__entry {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px $border-color dotted;

  &:first-child {
    padding-top: 0;
  }

  .system-status-report__status-title {
    min-width: 30%;
    font-weight: $font-weight-semibold;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    .system-status-report__status-title {
      margin-bottom: .5rem;
    }
  }
}

.system-status-report {
  .card-warning {
    background-color: rgba($warning, .1);

    .card-top-title,
    a {
      color: $warning;
    }

    .card-top-title {
      border-color: $warning;
    }

    .system-status-report__entry {
      border-color: rgba($warning, .4);
    }

    .list-group .list-group-item {
      background-color: transparent;
    }
  }

  .card-error {
    background-color: rgba($danger, .1);

    .card-top-title,
    a {
      color: $danger;
    }

    .card-top-title {
      border-color: $danger;
    }

    .system-status-report__entry {
      border-color: rgba($danger, .4);
    }

    .list-group .list-group-item {
      background-color: transparent;
    }
  }
}
