button.tabledrag-toggle-weight {
  @extend .btn;
  @extend .btn-outline-success;
  margin-bottom: 1rem;
}

.table {
  thead,
  tbody {
    min-width: 100%;
  }

  thead {
    background-color: $white;
  }

  th {
    vertical-align: middle;

    .checkbox {
      text-align: center;
    }
  }

  td,
  td.block {
    vertical-align: middle;
  }

  th {
    font-weight: $font-weight-semibold;

    &.views-field-operations {
      text-align: right;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  tr.region-title {
    font-weight: $font-weight-semibold;

    td {
      padding:0;
    }

    .wrap-td {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $table-cell-padding;
      background: $white;
    }
  
    .region-title__action {
      a {
        @extend .btn;
        @extend .btn-primary;
      }
    }

    &:not(:first-child) {
      .wrap-td {
        border-top: 1px solid $table-border-color; 
      }
    }

    & ~ tr.draggable,
    & ~ tr.region-message {
      background-color: $white;
    }
  }

  tr.draggable.drag-previous {
    background-color: rgba($gray-200, .8) !important;
    border-left: 8px solid $gray-300;
  }

  .indentation {
    opacity: 0;
  }
}

#image-style-effects {
  .tabledrag-hide {
    vertical-align: top;
  }

  fieldset {
    margin-bottom: 1rem;
  }
}
