.wrap-project-update {
  display: flex;
  flex-direction: column;

  .project-update__status {
    margin-left: auto;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

@include media-breakpoint-up(md) {
  .project-update__status,
  .project-update__version-links {
    text-align: right;
  }
}

.wrap-project-verstion {
  margin-top: 1rem;
}

.project-update__version {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .project-update__version-links {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}

.project-updates__details {
  margin-top: .5rem;
}

.project-update__title {
  font-weight: bold;
}

.project-update__status--security-error {
  color: $red;
  font-weight: bold;
}

.project-update__status-icon {
  padding-left: 0.5em; /* LTR */
}

.project-update__details {
  padding: 1em 1em 0.25em 1em;
}

.project-update__version-date {
  white-space: nowrap;
}

.project-update__version-details {
  padding-right: 0.5em; /* LTR */
}

.project-update__version--recommended-strong .project-update__version-title {
  font-weight: bold;
}

[dir="rtl"] .project-update__version-details {
  padding-left: 0.5em;
  direction: ltr; /* Version numbers should always be LTR. */
}
