{#
/**
 * @file
 * Optasy Admin theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 */
#}

<details{{ attributes }}>
  {%- if title -%}
    <summary{{ summary_attributes.addClass('h3') }}>{{ title }} <i class="las la-angle-right"></i></summary>
  {%- endif -%}
  <div class="details-wrapper">
    {% if errors %}
      <div class="alert alert-danger" role="alert">
        <strong>{{ errors }}</strong>
      </div>
    {% endif %}
    {%- if description -%}
      <small class="details-description text-muted">{{ description }}</small>
    {%- endif -%}
    {%- if children -%}
      {{ children }}
    {%- endif -%}
    {%- if value -%}
      {{ value }}
    {%- endif -%}
  </div>
</details>
