{#
/**
 * @file
 * Optasy Admin theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% set classes = [
  attributes.hasClass('button') ? 'btn' : 'form-control',
  attributes.type == 'submit' ? 'btn-primary',
  attributes.type == 'file' ? 'custom-file-input',
] %}

<input{{ attributes.addClass(classes) }} />{{ children }}
