.form-group {
  align-items: flex-start;
}

.form-group label {
  font-weight: $font-weight-normal;
}

.custom-checkbox,
.custom-radio {
  &:not(:last-child) {
    margin-bottom: .8rem;
  }
}

.custom-control {
  .description {
    display: block;
  }
}
