{#
/**
 * @file
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{{ attach_library('tinit/maintenance-page') }}

<div class="maintenance--layout container-fluid px-0">
  <div class="maintenance--row row no-gutters">
    <div class="maintenance--main-col  d-flex flex-column  col-xl-5 col-lg-6 col-md-8 col-12  p-5">
      <header role="banner">
        {% if logo %}
          <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
            <img class="logo" src="{{ logo }}" alt="{{ 'Home'|t }}"/>
          </a>
        {% endif %}

        {% if site_name or site_slogan %}
          {% if site_name %}
            <h1>
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
            </h1>
          {% endif %}

          {% if site_slogan %}
            <div>{{ site_slogan }}</div>
          {% endif %}
        {% endif %}
      </header>

      <main class="maintenance--main py-5" role="main">
        {% if title %}
          <h1 class="maintenance--title">{{ title }}</h1>
        {% endif %}

        <div class="maintenance--content">
          {{ page.content }}
        </div>
      </main>

      {% if page.footer %}
        <footer role="contentinfo">
          {{ page.footer }}
        </footer>
      {% endif %}
    </div>

    <div class="maintenance--img-col col"></div>
  </div>
</div>
