{% include "@optasyadmin/components/header/header--default.html.twig" %}

<main id="wrapp-main" role="main" class="main-container">
  <div class="wrapp-bg bg-light">
    <div class="wrap-top-content row">
      {{ page.top_content_left }}
      {{ page.top_content_right }}
      {{ page.top_content }}
    </div>

    <div class="wrap-main-content">
      {{ page.content }}
      {{ page.bottom_content }}
    </div>
  </div>
</main>

{{ page.help }}

{% if page.footer %}
  <footer  id="wrapp-footer" class="main-container" role="contentinfo">
    {{ page.copyright }}
    {{ page.footer }}
  </footer>
{% endif %}