{#
/**
 * @file
 * Optasy Admin theme override to display a region.
 *
 * @see template_preprocess_region()
 */
#}

{% set classes = [
  'region',
  'region-' ~ region|clean_class,
  theme_region_class,
] %}

{% if content %}
  <div{{ attributes.addClass(classes) }} aria-live="polite" aria-atomic="true">
    {{ content }}
  </div>
{% endif %}
