{#
/**
 * @file
 * Optasy Admin theme override to display a region.
 *
 * @see template_preprocess_region()
 */
#}

{% extends "region.html.twig" %}

{% set classes = [
  'region',
  'region-' ~ region|clean_class,
  theme_region_class
] %}

{% block region %}
  <div class="row align-items-md-center">
    <div class="col-md-6 coop">
      {{ "now"|date("Y") }} ©
      {% trans %}
        Made with <i class="las la-heart"></i> by
      {% endtrans %}
      <a href="optasy.com">Optasy</a>
    </div>

    <div class="col-md-6 d-flex justify-content-center justify-content-md-end align-items-center">
      {{ content }}
    </div>
  </div>
{% endblock %}
