{#
/**
 * @file
 * Optasy Admin theme override to display a region.
 *
 * @see template_preprocess_region()
 */
#}

{% extends "region.html.twig" %}

{% block region %}
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
{% endblock %}
