<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text"><i class="flaticon2-search-1"></i></div>
  </div>
  {{ form.keys }}
</div>

<div class="d-none">
  {{ form }}
</div>