{#
/**
 * @file
 * Optasy Admin theme override for a section of the help page.
 *
 * Available variables:
 * - title: The section title.
 * - description: The description text for the section.
 * - links: Links to display in the section.
 * - empty: Text to display if there are no links.
 */
#}
<div class="card">
  <div class="card-top-title h3">
    {{ title }}
  </div>

  <div class="card-body">
    <p class="content-solid">{{ description }}</p>

    {% if links %}
      <ul class="list-multiple-row">
      {% for link in links %}
        <li>{{ link }}</li>
      {% endfor %}
      </ul>
    {% else %}
      <p>{{ empty }}</p>
    {% endif %}
  </div>
</div>
