{#
/**
 * @file
 * Optasy Admin theme override for a set of indentation divs.
 *
 * These <div> tags are used for drag and drop tables.
 *
 * Available variables:
 * - size: Optional. The number of indentations to create.
 */
#}
{% for i in 1..size if size > 0 %}
  <div class="js-indentation indentation">
  </div>
{% endfor %}
