{#
/**
 * @file
 * Optasy Admin theme override for the status report counter.
 *
 * Available variables:
 * - amount: The number shown on counter.
 * - text: The text shown on counter.
 * - severity: The severity of the counter.
 *
 * @ingroup themable
 */
#}
<div class="system-status-report-counters__item ssrc-item--{{ text|clean_class }} card card-icon">
  <div class="card-body">
    <span class="icon icon-{{ text|clean_class }}"></span>
    <div class="ssrc-content h3">{{ amount }} {{ text }}</div>
    <a href="#{{ severity }}" class="link-full"><span class="visually-hidden">{{ text }} </span>Details</a>
  </div>
</div>

