{#
/**
 * @file
 * Optasy Admin theme override for the modules listing page.
 *
 * Displays a list of all packages in a project.
 *
 * Available variables:
 * - modules: Contains multiple module instances. Each module contains:
 *   - attributes: Attributes on the row.
 *   - checkbox: A checkbox for enabling the module.
 *   - name: The human-readable name of the module.
 *   - id: A unique identifier for interacting with the details element.
 *   - enable_id: A unique identifier for interacting with the checkbox element.
 *   - description: The description of the module.
 *   - machine_name: The module's machine name.
 *   - version: Information about the module version.
 *   - requires: A list of modules that this module requires.
 *   - required_by: A list of modules that require this module.
 *   - links: A list of administration links provided by the module.
 *
 * @see template_preprocess_system_modules_details()
 */
#}

<div class="module-list">
  {% for module in modules %}
    <div{{ module.attributes.addClass('module-list--item') }}>
      <div class="mli-header d-flex">
        <div class="wrap-switch">
          {{ module.checkbox }}
        </div>

        <label id="{{ module.id }}" for="{{ module.enable_id }}" class="module-name table-filter-text-source h5">
          {{ module.name }}
          {% if module.version %}<small>{{ 'Version: @module-version'|t({'@module-version': module.version }) }}</small>{% endif %}
        </label>

        <div class="wrap-links">
          <button class="btn btn-clear" type="button" data-toggle="collapse" data-target="#{{ module.id }}--description" aria-expanded="false" aria-controls="collapseExample">
            <i class="las la-ellipsis-h"></i>
          </button>

          {% if module.links %}
            {% for link_type in ['help', 'permissions', 'configure'] %}
              {{ module.links[link_type] }}
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="mli-body">
        <div class="collapse" id="{{ module.id }}--description">
          {{ module.description }}

          <div class="requirements">
            <div class="admin-requirements">{{ 'Machine name: <span dir="ltr" class="table-filter-text-source">@machine-name</span>'|t({'@machine-name': module.machine_name }) }}</div>
            {% if module.requires %}
              <div class="admin-requirements">{{ 'Requires: @module-list'|t({'@module-list': module.requires }) }}</div>
            {% endif %}
            {% if module.required_by %}
              <div class="admin-requirements">{{ 'Required by: @module-list'|t({'@module-list': module.required_by }) }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
