{#
/**
 * @file
 * Optasy Admin theme override for the version display of a project.
 *
 * Available variables:
 * - attributes: HTML attributes suitable for a container element.
 * - title: The title of the project.
 * - version:  A list of data about the latest released version, containing:
 *   - version: The version number.
 *   - date: The date of the release.
 *   - download_link: The URL for the downloadable file.
 *   - release_link: The URL for the release notes.
 */
#}
<div class="{{ attributes.class }} row project-update__version"{{ attributes|without('class') }}>
  <div class="project-update__version-title col-md-3">{{ title }}</div>

  <div class="project-update__version-details col-md-3">
    <a href="{{ version.release_link }}">{{ version.version }}</a>
    <span class="project-update__version-date">({{ version.date|date('Y-M-d') }})</span>
  </div>

  <div class="project-update__links col-md-6">
    <ul class="project-update__version-links">
      <li class="project-update__download-link">
        <a href="{{ version.download_link }}">{{ 'Download'|t }}</a>
      </li>
      <li class="project-update__release-notes-link">
        <a href="{{ version.release_link }}">{{ 'Release notes'|t }}</a>
      </li>
    </ul>
  </div>
</div>
