{#
/**
 * @file
 * Optasy Admin theme.
 */
#}

{%
  set classes = [
    'block',
    'block-menu',
    'navigation',
    'menu--' ~ derivative_plugin_id|clean_class,
  ]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}

<div class="dropdown">
  <button class="btn btn-clear-user" type="button" id="{{ 'menu--' ~ derivative_plugin_id|clean_class }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% if user_image %}
    <span class='d-none d-lg-inline-block'>{{ 'Hi'|t }}, {{ user_name }}</span>
      <img class="user-image"
           src="{{ user_image.thumbnail_url }}"
           alt="{{ user_image.alt }}"
           typeof="foaf:Image"
      />
    {% endif %}
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ 'menu--' ~ derivative_plugin_id|clean_class }}">
    <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
      {{ title_prefix }}
      {{ title_suffix }}

      {{ content }}
    </nav>
  </div>
</div>