.js td {
  .dropbutton-multiple {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .dropbutton-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.js .dropbutton-widget .dropbutton {
  overflow: visible;
  white-space: nowrap;
}

a.tabledrag-handle {
  .handle {
    @extend .las;
    @extend .la-arrows-alt;
    margin: 0 .5em 0 0;
    padding: 0;
    color: $gray-300;

    &,
    &:hover {
      background: none;
      color: $gray-700;
    }
  }

  &:hover {
    .handle {
      background: none;
    }
  }

  .draggable & {
    margin-left: 0;
  }
}

abbr.warning.tabledrag-changed {
  display: none;
}

.permissions .checkbox label {
  display:none;
}

.content-solid {
  padding: 1.5rem;
  border-left: 4px solid $gray-300;
  background-color: $gray-200;
  border-radius-top-left: 4px;
  border-radius-top-right: 4px;
}

.link-full {
  position: absolute;
  top:.0;
  right: 0;
  bottom: 0;
  left: 0;
}
