#page-wrap {
  @include heightMax();
  display: flex;
  flex-direction: column;
}

#wrapp-main {
  flex-grow: 1;
}

.wrap-main-content {
  padding: $spacer/2;
  background: $body-bg;
  border-radius: 0 0 $border-radius $border-radius;

  @include media-breakpoint-up(lg) {
    padding: $spacer;
  }
}

.main-container {
  width: 100%;
  padding: 0 15px;

  @include media-breakpoint-between(md, lg) {
    padding: 0 30px;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 80px;
  }
}

header {
  @include alignTop();
}

.wrapp-bg {
  border-radius: $border-radius;
  padding: $spacer/2;

  @include media-breakpoint-up(lg) {
    border-top-left-radius: 0;
    padding: $spacer;
  }
}

.wrap-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.region-top-content-right,
.region-top-content-left {
  margin-bottom: $spacer/3;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer/2;
  }
}
