//@import "mixins/===";

@mixin alignTop() {
  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open & {
    top:79px;
  }

  .toolbar-fixed & {
    top: 39px;
  }
}

@mixin heightMax() {
  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open & {
    min-height: calc(100vh - 79px);
  }

  .toolbar-fixed & {
    min-height: calc(100vh - 39px);
  }

  body:not(.toolbar-fixed) & {
    min-height: 100vh;
  }
}

@mixin mainContainerPadding ($padding: $spacer) {
  padding: $padding/2;

  @include media-breakpoint-up(lg) {
    padding: $padding;
  }
}
