.region-header {
  display: flex;
  align-items: center;

  & > *:not(:first-child) {
    margin-left: .5rem;
  }
}

.region-branding {
  display: flex;
  align-items: center;
  min-height: 60px;

  .main-logo {
    max-height: 30px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 90px;

    .main-logo {
      max-height: 40px;
    }
  }

  .navbar-dark & {
    min-height: 40px;

    .main-logo {
      max-height: 20px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 60px;

      .main-logo {
        max-height: 30px;
      }
    }
  }
}

.region-top-content-left {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    align-items: center;
    flex-direction: row;
    min-height: 32px;
  }
}

.region-top-content-right {
  display: flex;
  justify-content: flex-end;
}

.region-footer {
  padding: 1.75rem 0;

  &,
  a {
    color: rgba($white, .75);
  }

  .coop a {
    font-weight: $font-weight-semibold;
  }
}
