.breadcrumb {
  a {
    color: $breadcrumb-active-color;
    font-weight: $font-weight-semibold;
  }

  .breadcrumb-item {
    display:flex;
    align-items: center;
    color: $breadcrumb-active-color;

    &:before {
      background: $breadcrumb-divider-color;
      display: block;
      width: 4px;
      height: 4px;
      padding: 0;
      border-radius: 50%;
      margin-right: $breadcrumb-item-padding;
    }
  }
}
