.btn-side-close {
  margin: .5rem;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: transparent;
  border-color: $nav-bar-btn-color;

  i {
    color: $nav-bar-btn-color;
  }
}

.btn-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid rgba($gray-600, .2);
  color: $nav-bar-btn-color;
  padding: 0;
  font-size: 1rem;
  line-height: 17px;
}

.btn-primary.btn-action {
  background: #e1e3ec;
  color: #959cb6;
  border-color: #e1e3ec;
}

#btnSideRight {
  margin-left: .5rem;
}

.compact-link {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $grid-gutter-width;

  a {
    @extend .btn;
    @extend .btn-outline-success;
  }
}
