.card {
  box-shadow: $box-shadow;

  &:not(:last-child) {
    margin-bottom: $grid-gutter-width;
  }

  .card-top-title {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid $border-color;
    min-height: 60px;
    color: $gray-700;
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .admin-list {
    margin-bottom: 0;
  }
}
