.list-multiple-row {
  margin-bottom: 0;
  padding: 0;
  column-gap: 1rem;

  li {
    list-style: none;

    a {
      padding: .3rem 0;
      display: block;
    }
  }

  @include media-breakpoint-only(sm) {
    column-count: 2;
  }

  @include media-breakpoint-between(md, lg) {
    column-count: 3;
  }

  @include media-breakpoint-up(lg) {
    column-count: 4;
  }
}
