.menu-region--primary-menu {
  display: flex;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
  }

  .first-level {
    & > a {
      color: $body-color;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 0 25px;
      text-transform: uppercase;
      font-weight: $font-weight-semibold;
      justify-content: flex-start;
    }

    &.is-active,
    &:hover {
      & > a {
        color: $body-color;
        background: $gray-200;
      }
    }
  }

  .dropdown-menu {
    border: none;
    margin-top: 0;

    a {
      color: $menu-link-second;
      padding: 8px 30px;

      &:hover {
        color: $menu-link-second-active;
      }
    }
  }


  @include media-breakpoint-down(md) {
    flex-direction: column;

    .first-level {
      & > a {
        padding-bottom: 11px;
        padding-top: 11px;
        font-weight: 400;
      }
    }
  
    .dropdown-menu {
      box-shadow: none;
      position: relative !important;
      transform: none !important;
      width: 100%;

      .dropdown {
        position: relative;

        > .dropdown-menu {
          a {
            padding: 11px 40px 11px 55px;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .first-level {
      margin-right: 3px;

      & > a {
        color: $menu-link;
        text-transform: uppercase;
        background: rgba(32, 6, 56, 0.4);
        font-size: 1em;
        min-height: 50px;
        
        i {
          width: 20px;
          font-size: .8rem;
          display: flex;
          justify-content: flex-end;
        }
      }

      &.dropdown:hover {
        & > .first-level-item {
          background: $white;
        }
      }
    }

    .dropdown-menu {
      min-width: 250px;
      padding: 20px 0;
      box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);

      a {
        padding: 10px 30px;
      }

      .dropdown {
        &:hover {
          > .dropdown-menu {
            border-radius: 4px;
            display: block;
            left: 100%;
            top: 0;
          }
        }
      }
    }
  }
}
