.nav-tabs {
  &.primary {
    font-size: 1.1rem;
    border-bottom-width: $nav-tabs-border-width*2;

    .nav-item {
      margin-bottom: -$nav-tabs-border-width*2;
    }

    .nav-link {
      border-bottom-width: $nav-tabs-border-width*2;
      color: $gray-800;
    }
  }

  &.secondary {
    font-size: .9rem;
    margin-bottom: 1rem;

    .nav-link {
      color: $gray-700;
    }
  }
}
