#main-navbar {
  transition: $transition-base;

  .navbar-collapse {
    flex-grow: initial;
  }

  .btn-clear {
    border: 0;
    padding: 0;
    color: $white;
    padding-left: $btn-padding-y;
    padding-right: $btn-padding-y;
    font-size: 1.385rem;
    display: flex;
    align-items: center;

    span {
      font-size: 1rem;
      line-height: 17px;
      color: $white;
    }

    &:active {
      color: $white;
    }
  }

  .btn-clear-user {
    border: 0;
    color: $white;
    padding: 0;

    img{
      width: $nav-bar-item-size;
      height: $nav-bar-item-size;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  #search-block-form {
    .input-group {
      border: 1px solid rgba($gray-600, .2);
    }

    .input-group-text,
    input {
      color: $nav-bar-btn-color;
      min-height: $nav-bar-item-size;
    }

    .input-group-text {
      font-size: 1.3rem;
      padding-right: 0;
    }
  }

  &.navbar-light {
    @include media-breakpoint-up(lg) {
      .btn-icon {
        color: $nav-bar-btn-color-light;
        width: $nav-bar-item-size-lg;
        height: $nav-bar-item-size-lg;
      }
  
      .btn-clear-user {
        margin-left: 1rem;

        img {
          margin-left: .55rem;
          width: $nav-bar-item-size-lg;
          height: $nav-bar-item-size-lg;
        }
      }

      #search-block-form {
        .input-group {
          min-height: $nav-bar-item-size-lg;
        }
        .input-group-text,
        input {
          color: $nav-bar-btn-color-light;
        }
      }
    }
  }

  &.navbar-dark {
    .btn-clear {
      color: $black;

      span {
        color: $black;
      }
    }
  }

  @include media-breakpoint-down(md) {
    #navBarDefault {
      position: relative;
      transition: none;
      max-height: 50px;
      height: 50px;

      &:after {
        content: "";
        position: absolute;
        border-top: 1px solid $gray-300;
        top: 0;
        right: 50%;
        bottom: 0;
        width: 100vw;
        background-color: $white;
        transform: translateX(50%);
        z-index: -1;
      }

      &.show,
      &.collapsing {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .btn-clear-user img {
      margin-left: .55rem;
    }
  }
}
