
@mixin side($position, $size) {
  @include alignTop();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: $modal-backdrop-bg;
  visibility: hidden;
  z-index: $zindex-hover-all;

  .wrapp-side {
    background: $white;
    box-shadow: 0 1px 9px -3px rgba(0,0,0,.75); //box-shadow-ex
    backface-visibility: hidden;

    position: absolute;
    z-index: $zindex-hover-all;
    overflow-y: auto;

    width: 80%;
    height: 100%;
    max-width: $size;
    #{$position}: -$size + 30;
    transition: $position .3s ease;

    display: flex;
    flex-direction: column;
  }

  .btn-side-close {
    align-self: flex-end;
  }

  &.show {
    opacity: 1;
    visibility: visible;

    .wrapp-side {
      #{$position}: 0;
    }
  }
}

.side--right {
  @include side(right, 475px);
}

.side--left {
  @include media-breakpoint-down(md) {
    @include side(left, 275px);
  }
}
