{#
/**
 * @file
 * Optasy Admin theme.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  <nav role="navigation" aria-label="breadcrumb">
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li class="breadcrumb-item">
          {% if item.url == "/" %}
            <i class="flaticon2-shelter"></i>
          {% else %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% endif %}
        </li>
      {% else %}
        <li class="breadcrumb-item active">
          {{ item.text }}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
