{#
/**
 * @file
 * Optasy Admin theme override for a set of links.
 *
 * @see links.html.twig
 */
#}

{% if links -%}
  {%- if heading -%}
    {%- if heading.level -%}
      <{{ heading.level }}{{ heading.attributes }}>{{ heading.text }}</{{ heading.level }}>
    {%- else -%}
      <h2{{ heading.attributes }}>{{ heading.text }}</h2>
    {%- endif -%}
  {%- endif -%}

  <div{{ attributes.addClass('btn-group') }}>
    {%- for key, item in links -%}
      {%- if loop.first -%}
        {%- if item.link -%}
          <a href="{{ item.link['#url'] }}" class="use-ajax btn btn-outline-dark" data-dialog-type="modal" data-dialog-options="{&quot;width&quot;:700}" >{{ item.text }}</a>
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes.addClass("btn btn-outline-dark") }}>{{ item.text }}</span>
        {%- else -%}
          <div class="btn btn-outline-dark">{{ item.text }}</div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

    <div class="dropdown-menu dropdown-menu-right">
      {%- for key, item in links -%}
        {%- if not loop.first -%}
          {%- if item.link -%}
            <a href="{{ item.link['#url'] }}" class="dropdown-item">{{ item.text }}</a>
          {%- elseif item.text_attributes -%}
            <span{{ item.text_attributes }}>{{ item.text }}</span>
          {%- else -%}
            {{ item.text }}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>

    <button type="button" class="btn btn-outline-dark dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="las la-angle-down"></i>
    </button>
  </div>
{%- endif %}
