{#
/**
 * @file
 * Optasy Admin Theme.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}

{% if primary %}
  <h3 class="visually-hidden">{{ 'Primary tabs'|t }}</h3>
  <ul class="nav nav-tabs primary">{{ primary }}</ul>
{% endif %}

{% if secondary %}
  <h3 class="visually-hidden">{{ 'Secondary tabs'|t }}</h3>
  <ul class="nav nav-tabs nav-tabs-inline secondary">{{ secondary }}</ul>
{% endif %}
