{#
/**
 * @file
 * Optasy Admin theme.
 *
 * More info? @see menu.html.twig
 */
#}

{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu', 'menu--admin', 'nav').removeAttribute('#region') }}>
    {% else %}
      <ul class="dropdown-menu">
    {% endif %}
    {% for item in items %}

      {% set itemClass = [
        item.below ? 'dropdown',
        menu_level == 0 ? 'js-first-level' : 'dropdown-submenu',
        menu_level == 0 ? 'first-level',
        item.in_active_trail ? 'is-active'
      ] %}


      <li{{ item.attributes.addClass(itemClass) }}>
        {% if item.below %}
          <a href="{{ item.url }}" data-toggle="dropdown" {{ menu_level == 0 ? "class='first-level-item'" }}>{{ item.title }} <i class="las la-angle-right"></i></a>
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
