{#
/**
 * @file
 * Optasy Admin theme.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 */
#}
<div{{ attributes.addClass('btn-group') }}>{{ link }}</div>
