// .maintenance--layout {
//   header {
//     display: flex;
//     align-items: center;
//   }

//   .maintenance--row {
//     min-height: 100vh;
//   }

//   .maintenance--img-col {
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//   }

//   .maintenance--main {
//     flex-grow: 1;

//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
// }