details {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer/2;
  border-radius: $border-radius;
  border: 1px solid $border-color;

  legend {
    font-size: 1.2rem;
  }

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;
    color: $gray-700;

    &::-webkit-details-marker {
      display: none;
    }

    &.h3 {
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    .la-angle-right {
      transition: transform .3s linear;
    }
  }

  .details-wrapper {
    border-top: 1px solid $border-color;
    padding: .75rem;
  }

  // &:not(:last-child) {
  //   margin-bottom: 20px;
  // }

  &[open] {
    .la-angle-right {
      transform: rotate(90deg);
    }
  }
}
