.form-text {
  margin-top: 0;
}

.vef-row {
  align-items: flex-end;
  margin-bottom: $grid-gutter-width;

  & > * {
    @extend .col-auto;
  }

  & > fieldset {
    align-items: flex-start;
  }
}

.views-form {
  width: 100%;
}

.form-actions {
  &.form-group {
    margin-bottom: 0;
  }

  .form-inline &,
  &.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    & > input {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .dblog-confirm & {
    margin-top: 2rem;
  }
}

fieldset.js-form-type-textarea{
  margin-bottom: 0;
}

.field-plugin-settings-edit-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  .image-button {
    width: 40px;
  }
}
