

input {
  &.form-check-input,
  &.form-radio-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;

    & ~ span {
      position: absolute;
      top: 1px;
      left: 0;
      height: 18px;
      width: 18px;
      border: 1px solid $input-radio-checkbox-wrap-color;
      transition: all .3s ease;

      &:after {
        content: '';
        position: absolute;
        display: block;
        opacity: 0;
        top: 50%;
        left: 50%;
        margin-left: -3px;
        width: 6px;
      }
    }

    &:checked {
      & ~ span:after {
        opacity: 1;
      }
    }
  }

  &.form-radio-input {
    & ~ span {
      border-radius: 50%!important;
  
      &:after {
        height: 6px;
        margin-top: -3px;
        border-radius: 100%!important;
        background: $input-radio-checkbox-color;
      }
    }
  }

  &.form-check-input {
    & ~ span {
      border-radius: $custom-checkbox-indicator-border-radius;
  
      &:after {
        margin-top: -7px;
        height: 12px;
        border: $input-radio-checkbox-color solid;
        border-width: 0 2px 2px 0!important;
        transform: rotate(45deg);
      }
    }
  }
}

.form-check{
  min-height: 20px;
  padding-left: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  label {
    padding-left: $form-check-input-gutter;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}

.image-widget-data {
  display: flex;

  .custom-file-input {
    opacity: 1;
  }
}
