#search-block-form {
  .input-group {
    display: flex;
    border-radius: 40px;
    align-items: center;
  }

  fieldset,
  .input-group-prepend {
    margin-bottom: 0;
  }

  .input-group-text,
  input {
    border: none;
    background: transparent;
    color: $white;
  }
}
