.switch {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  transition: all 0.3s;

  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius:50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
  }
}

.wrap-switch {
  margin-right: .5rem;

  & > input {
    display: none;

    &:checked {
      & + .switch {
        background-color: #7983ff;

        &::after {
          left : 11px;
        }
      }
    }

    &:disabled + .switch {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  & > label {
    margin-bottom: 0;
  }
}
