<div class="page--wrap">
  <header class="position-fixed" role="banner">
    {{ page.branding }}
  </header>

  <main class="row no-gutters main--wrap" role="main">
    <div class="col-lg-5 col-xl-4 d-none d-lg-flex">
      {{ page.sidebar_first }}
    </div>

    <div class="col-lg-7 col-xl-8 col-12 d-flex align-items-center">
      {{ page.content }}
    </div>
  </main>
</div>
