<header role="banner" class="sticky-top">
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light main-container">
    {{ page.branding }}

    <button id="btnSidebarLeft"
            class="ml-auto btn btn-clear d-lg-none"
            type="button"
            data-toggle="collapse"
            data-target="#SideLerf"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="las la-bars"></i>
    </button>

    <button id="btnNavBarOptasyDefault"
            class="navbar-toggler btn btn-clear d-lg-none"
            type="button"
            data-toggle="collapse"
            data-target="#navBarDefault"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="flaticon-more-1"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBarDefault">
      {{ page.header }}

      {% if page.sidebar_first %}
        <button id="btnSideRight"
          class="btn btn-outline-danger btn-icon"
          type="button"
          data-toggle="collapse"
          data-target="#SideRight"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="flaticon-squares"></span>
        </button>
      {% endif %}
    </div>
  </nav>
</header>

{% if page.sidebar_first %}
  <div class="collapse navbar-collapse side side--right" id="SideRight">
    <div class="wrapp-side">
      <button class="btn btn-secondary btn-side-close js-btn-close">
        <i class="las la-times" aria-hidden="true"></i>
      </button>

      <aside class="layout-sidebar-first side-content" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    </div>
  </div>
{% endif %}

<div class="main-container navbar-expand-lg">
  <div class="collapse navbar-collapse side side--left" id="SideLerf">
    <div class="wrapp-side">
      <button class="btn btn-secondary btn-side-close js-btn-close d-lg-none">
        <i class="las la-times" aria-hidden="true"></i>
      </button>

      <div class="side-content">
        {% if page.primary_menu %}
          {{ page.primary_menu }}
        {% else %}
          <div class='wrpa-menu-region--primary-menu'>
            {{ page.primary_menu_code }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
