{#
/**
 * @file
 * Optasy Admin theme override for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 */
#}
{{ attach_library('classy/image-widget') }}

<div{{ attributes }}>
  {% if data.preview %}
    <div class="image-preview">
      {{ data.preview }}
    </div>
  {% endif %}
  <div class="image-widget-data">
    {{ data|without('preview') }}
  </div>
</div>
